---
layout: default
---

{{ content }}

{% if site.posts.size > 0 %}
  {% for category in site.categories %}
    {% assign category_name = category[0] %}
    {% assign posts = category[1] %}

    <h2>{{ category_name | capitalize }}</h2>
    <ul>
      {% for post in posts %}
        <li>
          <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
          <span class="post-date">- {{ post.date | date: "%b %d, %Y" }}</span>
        </li>
      {% endfor %}
    </ul>
  {% endfor %}

  {% assign uncategorized_posts = site.posts | where_exp: "post", "post.categories.size == 0" %}
  {% if uncategorized_posts.size > 0 %}
    <h2>Uncategorized</h2>
    <ul>
      {% for post in uncategorized_posts %}
        <li>
          <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
          <span class="post-date">- {{ post.date | date: "%b %d, %Y" }}</span>
        </li>
      {% endfor %}
    </ul>
  {% endif %}
{% endif %}